<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level0.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,57},{30,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,57},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,57},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,57},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>level.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e746ebd3ff3676f97f596aec2159b3a8:1/1$</string>
            <key>textureFileName</key>
            <string>level.png</string>
        </dict>
    </dict>
</plist>
