<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>over_level0.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,72},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>over_level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{30,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>over_level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{58,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>over_level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>over_level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,142},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>over_level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,72},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>over_level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>over_level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>over_level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,142},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>over_level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>over_level.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7f4be69df9e2a2055d3bce303073239:1/1$</string>
            <key>textureFileName</key>
            <string>over_level.png</string>
        </dict>
    </dict>
</plist>
