<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_number0.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,64},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>skill_number1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{14,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>skill_number2.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,33},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>skill_number3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>skill_number4.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>skill_number5.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>skill_number6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>skill_number7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>skill_number8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>skill_number9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>skill_number.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28f0a29041ccca1cd93b236fa720c324:1/1$</string>
            <key>textureFileName</key>
            <string>skill_number.png</string>
        </dict>
    </dict>
</plist>
